<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hwyz.iov.cloud.edd.org.service.infrastructure.persistence.mapper.DealershipMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="net.hwyz.iov.cloud.edd.org.service.infrastructure.persistence.po.DealershipPo">
        <id column="id" property="id" />
        <result column="description" property="description" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_by" property="modifyBy" />
        <result column="row_version" property="rowVersion" />
        <result column="row_valid" property="rowValid" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="short_name" property="shortName" />
        <result column="eng_name" property="engName" />
        <result column="former_name" property="formerName" />
        <result column="store_format" property="storeFormat" />
        <result column="service_type" property="serviceType" />
        <result column="registered_capital" property="registeredCapital" />
        <result column="showroom_area" property="showroomArea" />
        <result column="ground_area" property="groundArea" />
        <result column="business_scope" property="businessScope" />
        <result column="business_hours" property="businessHours" />
        <result column="address" property="address" />
        <result column="lon" property="lon" />
        <result column="lat" property="lat" />
        <result column="region_code" property="regionCode" />
        <result column="area_code" property="areaCode" />
        <result column="province_code" property="provinceCode" />
        <result column="city_code" property="cityCode" />
        <result column="county_code" property="countyCode" />
        <result column="fax" property="fax" />
        <result column="tel" property="tel" />
        <result column="mobile" property="mobile" />
        <result column="zipcode" property="zipcode" />
        <result column="email" property="email" />
        <result column="service_tel" property="serviceTel" />
        <result column="legal_person" property="legalPerson" />
        <result column="manager" property="manager" />
        <result column="state" property="state" />
        <result column="enable" property="enable" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id, code, name, short_name, eng_name, former_name, store_format, service_type, registered_capital, showroom_area, ground_area, business_scope, business_hours, address, lon, lat, region_code, area_code, province_code, city_code, county_code, fax, tel, mobile, zipcode, email, service_tel, legal_person, manager, state, enable, sort,
        description, create_time, create_by, modify_time, modify_by, row_version, row_valid
    </sql>

    <!-- 插入 -->
    <insert id="insertPo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_dealership (
            id, code, name, short_name, eng_name, former_name, store_format, service_type, registered_capital, showroom_area, ground_area, business_scope, business_hours, address, lon, lat, region_code, area_code, province_code, city_code, county_code, fax, tel, mobile, zipcode, email, service_tel, legal_person, manager, state, enable, sort,
            description, create_time, create_by, modify_time, modify_by, row_version, row_valid
        )
        VALUES (
            #{id}, #{code}, #{name}, #{shortName}, #{engName}, #{formerName}, #{storeFormat}, #{serviceType}, #{registeredCapital}, #{showroomArea}, #{groundArea}, #{businessScope}, #{businessHours}, #{address}, #{lon}, #{lat}, #{regionCode}, #{areaCode}, #{provinceCode}, #{cityCode}, #{countyCode}, #{fax}, #{tel}, #{mobile}, #{zipcode}, #{email}, #{serviceTel}, #{legalPerson}, #{manager}, #{state}, #{enable}, #{sort},
            #{description}, now(), #{createBy}, now(), #{modifyBy}, 1, 1
        )
    </insert>

    <!-- 批量插入 -->
    <insert id="batchInsertPo" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
        INSERT INTO tb_dealership (
            id, code, name, short_name, eng_name, former_name, store_format, service_type, registered_capital, showroom_area, ground_area, business_scope, business_hours, address, lon, lat, region_code, area_code, province_code, city_code, county_code, fax, tel, mobile, zipcode, email, service_tel, legal_person, manager, state, enable, sort,
            description, create_time, create_by, modify_time, modify_by, row_version, row_valid
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
        (
            #{item.id}, #{item.code}, #{item.name}, #{item.shortName}, #{item.engName}, #{item.formerName}, #{item.storeFormat}, #{item.serviceType}, #{item.registeredCapital}, #{item.showroomArea}, #{item.groundArea}, #{item.businessScope}, #{item.businessHours}, #{item.address}, #{item.lon}, #{item.lat}, #{item.regionCode}, #{item.areaCode}, #{item.provinceCode}, #{item.cityCode}, #{item.countyCode}, #{item.fax}, #{item.tel}, #{item.mobile}, #{item.zipcode}, #{item.email}, #{item.serviceTel}, #{item.legalPerson}, #{item.manager}, #{item.state}, #{item.enable}, #{item.sort},
            #{item.description}, now(), #{item.createBy}, now(), #{item.modifyBy}, 1, 1
        )
        </foreach>
    </insert>

    <!-- 更新 -->
    <update id="updatePo" parameterType="net.hwyz.iov.cloud.edd.org.service.infrastructure.persistence.po.DealershipPo">
        UPDATE tb_dealership t SET
        <if test="code != null and code != ''">
            t.code = #{code},
        </if>
        <if test="name != null and name != ''">
            t.name = #{name},
        </if>
        <if test="shortName != null and shortName != ''">
            t.short_name = #{shortName},
        </if>
        <if test="engName != null and engName != ''">
            t.eng_name = #{engName},
        </if>
        <if test="formerName != null and formerName != ''">
            t.former_name = #{formerName},
        </if>
        <if test="storeFormat != null">
            t.store_format = #{storeFormat},
        </if>
        <if test="serviceType != null and serviceType != ''">
            t.service_type = #{serviceType},
        </if>
        <if test="registeredCapital != null">
            t.registered_capital = #{registeredCapital},
        </if>
        <if test="showroomArea != null and showroomArea != ''">
            t.showroom_area = #{showroomArea},
        </if>
        <if test="groundArea != null and groundArea != ''">
            t.ground_area = #{groundArea},
        </if>
        <if test="businessScope != null and businessScope != ''">
            t.business_scope = #{businessScope},
        </if>
        <if test="businessHours != null and businessHours != ''">
            t.business_hours = #{businessHours},
        </if>
        <if test="address != null and address != ''">
            t.address = #{address},
        </if>
        <if test="lon != null and lon != ''">
            t.lon = #{lon},
        </if>
        <if test="lat != null and lat != ''">
            t.lat = #{lat},
        </if>
        <if test="regionCode != null and regionCode != ''">
            t.region_code = #{regionCode},
        </if>
        <if test="areaCode != null and areaCode != ''">
            t.area_code = #{areaCode},
        </if>
        <if test="provinceCode != null and provinceCode != ''">
            t.province_code = #{provinceCode},
        </if>
        <if test="cityCode != null and cityCode != ''">
            t.city_code = #{cityCode},
        </if>
        <if test="countyCode != null and countyCode != ''">
            t.county_code = #{countyCode},
        </if>
        <if test="fax != null and fax != ''">
            t.fax = #{fax},
        </if>
        <if test="tel != null and tel != ''">
            t.tel = #{tel},
        </if>
        <if test="mobile != null and mobile != ''">
            t.mobile = #{mobile},
        </if>
        <if test="zipcode != null and zipcode != ''">
            t.zipcode = #{zipcode},
        </if>
        <if test="email != null and email != ''">
            t.email = #{email},
        </if>
        <if test="serviceTel != null and serviceTel != ''">
            t.service_tel = #{serviceTel},
        </if>
        <if test="legalPerson != null and legalPerson != ''">
            t.legal_person = #{legalPerson},
        </if>
        <if test="manager != null and manager != ''">
            t.manager = #{manager},
        </if>
        <if test="state != null and state != ''">
            t.state = #{state},
        </if>
        <if test="enable != null">
            t.enable = #{enable},
        </if>
        <if test="sort != null">
            t.sort = #{sort},
        </if>
        <if test="description != null and description != ''">
            t.description = #{description},
        </if>
        <if test="modifyBy != null">
            t.modify_by = #{modifyBy},
        </if>
        t.row_version = t.row_version + 1,
        t.modify_time = now()
        WHERE id = #{id}
    </update>

    <!-- 逻辑删除 -->
    <update id="logicalDeletePo" parameterType="Long">
        UPDATE tb_dealership t SET
        t.row_version = t.row_version + 1,
        t.modify_time = now(),
        t.row_valid = 0
        WHERE t.id = #{value}
    </update>

    <!-- 物理删除 -->
    <delete id="physicalDeletePo" parameterType="Long">
        DELETE FROM tb_dealership t
        WHERE t.id = #{value}
    </delete>

    <!-- 批量物理删除 -->
    <delete id="batchPhysicalDeletePo" parameterType="Long">
        DELETE FROM tb_dealership t
        WHERE t.id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 根据主键获取对应数据 -->
    <select id="selectPoById" parameterType="Long" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM tb_dealership t
        WHERE t.id = #{value}
        AND t.row_valid = 1
    </select>

    <!-- 根据数据对象获取对应数据列表 -->
    <select id="selectPoByExample" parameterType="net.hwyz.iov.cloud.edd.org.service.infrastructure.persistence.po.DealershipPo" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM tb_dealership t
        WHERE t.row_valid = 1
        <if test="id != null">
            AND t.id = #{id}
        </if>
        <if test="code != null and code != ''">
            AND t.code = #{code}
        </if>
        <if test="name != null and name != ''">
            AND t.name = #{name}
        </if>
        <if test="shortName != null and shortName != ''">
            AND t.short_name = #{shortName}
        </if>
        <if test="engName != null and engName != ''">
            AND t.eng_name = #{engName}
        </if>
        <if test="formerName != null and formerName != ''">
            AND t.former_name = #{formerName}
        </if>
        <if test="storeFormat != null">
            AND t.store_format = #{storeFormat}
        </if>
        <if test="serviceType != null and serviceType != ''">
            AND t.service_type = #{serviceType}
        </if>
        <if test="registeredCapital != null">
            AND t.registered_capital = #{registeredCapital}
        </if>
        <if test="showroomArea != null and showroomArea != ''">
            AND t.showroom_area = #{showroomArea}
        </if>
        <if test="groundArea != null and groundArea != ''">
            AND t.ground_area = #{groundArea}
        </if>
        <if test="businessScope != null and businessScope != ''">
            AND t.business_scope = #{businessScope}
        </if>
        <if test="businessHours != null and businessHours != ''">
            AND t.business_hours = #{businessHours}
        </if>
        <if test="address != null and address != ''">
            AND t.address = #{address}
        </if>
        <if test="lon != null and lon != ''">
            AND t.lon = #{lon}
        </if>
        <if test="lat != null and lat != ''">
            AND t.lat = #{lat}
        </if>
        <if test="regionCode != null and regionCode != ''">
            AND t.region_code = #{regionCode}
        </if>
        <if test="areaCode != null and areaCode != ''">
            AND t.area_code = #{areaCode}
        </if>
        <if test="provinceCode != null and provinceCode != ''">
            AND t.province_code = #{provinceCode}
        </if>
        <if test="cityCode != null and cityCode != ''">
            AND t.city_code = #{cityCode}
        </if>
        <if test="countyCode != null and countyCode != ''">
            AND t.county_code = #{countyCode}
        </if>
        <if test="fax != null and fax != ''">
            AND t.fax = #{fax}
        </if>
        <if test="tel != null and tel != ''">
            AND t.tel = #{tel}
        </if>
        <if test="mobile != null and mobile != ''">
            AND t.mobile = #{mobile}
        </if>
        <if test="zipcode != null and zipcode != ''">
            AND t.zipcode = #{zipcode}
        </if>
        <if test="email != null and email != ''">
            AND t.email = #{email}
        </if>
        <if test="serviceTel != null and serviceTel != ''">
            AND t.service_tel = #{serviceTel}
        </if>
        <if test="legalPerson != null and legalPerson != ''">
            AND t.legal_person = #{legalPerson}
        </if>
        <if test="manager != null and manager != ''">
            AND t.manager = #{manager}
        </if>
        <if test="state != null and state != ''">
            AND t.state = #{state}
        </if>
        <if test="enable != null">
            AND t.enable = #{enable}
        </if>
        <if test="sort != null">
            AND t.sort = #{sort}
        </if>
        <if test="description != null and description != ''">
            AND t.description = #{description}
        </if>
        <if test="createTime != null">
            AND t.create_time = #{createTime}
        </if>
        <if test="createBy != null">
            AND t.create_by = #{createBy}
        </if>
        <if test="modifyTime != null">
            AND t.modify_time = #{modifyTime}
        </if>
        <if test="modifyBy != null">
            AND t.modify_by = #{modifyBy}
        </if>
        <if test="rowVersion != null">
            AND t.row_version = #{rowVersion}
        </if>
        ORDER BY t.id DESC
    </select>

    <!-- 根据Map对象获取对应数据列表 -->
    <select id="selectPoByMap" parameterType="java.util.Map" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM tb_dealership t
        WHERE t.row_valid = 1
        <!-- 添加自定义条件 -->
        <if test="code != null and code != ''">
            AND t.code = #{code}
        </if>
        <if test="name != null and name != ''">
            AND t.name LIKE #{name}
        </if>
        <if test="serviceType != null and serviceType != ''">
            AND FIND_IN_SET(#{serviceType}, t.service_type)
        </if>
        <if test="regionCode != null and regionCode != ''">
            AND t.region_code = #{regionCode}
        </if>
        <if test="areaCode != null and areaCode != ''">
            AND t.area_code = #{areaCode}
        </if>
        <if test="provinceCode != null and provinceCode != ''">
            AND t.province_code = #{provinceCode}
        </if>
        <if test="cityCode != null and cityCode != ''">
            AND t.city_code = #{cityCode}
        </if>
        <if test="countyCode != null and countyCode != ''">
            AND t.county_code = #{countyCode}
        </if>
        <if test="beginTime != null">
            and date_format(t.create_time,'%Y%m%d') &gt;= date_format(#{beginTime},'%Y%m%d')
        </if>
        <if test="endTime != null">
            and date_format(t.create_time,'%Y%m%d') &lt;= date_format(#{endTime},'%Y%m%d')
        </if>
        <if test="key != null and key != ''">
            AND (t.code LIKE #{key} OR t.name LIKE #{key})
        </if>
        ORDER BY t.sort ASC, t.id DESC
    </select>

    <!-- 通过code查询门店信息 -->
    <select id="selectPoByCode" parameterType="java.util.Map" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM tb_dealership t
        WHERE t.row_valid = 1
        AND t.code = #{code}
        LIMIT 1
    </select>

    <!-- 根据Map对象统计记录数 -->
    <select id="countPoByMap" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(*)
        FROM tb_dealership t
        WHERE t.row_valid = 1
        <!-- 添加自定义条件 -->
    </select>
</mapper>
