<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hwyz.iov.cloud.edd.org.service.infrastructure.persistence.mapper.EmployeeDepartmentMapper">

    <select id="selectPoByEmployeeId" parameterType="Long" resultType="net.hwyz.iov.cloud.edd.org.service.infrastructure.persistence.po.EmployeeDepartmentPo">
        SELECT * FROM tb_employee_department WHERE employee_id = #{employeeId} ORDER BY is_primary DESC
    </select>

    <delete id="deletePoByEmployeeId" parameterType="Long">
        DELETE FROM tb_employee_department WHERE employee_id = #{employeeId}
    </delete>

    <insert id="insertPo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_employee_department (
            id, employee_id, department_id, is_primary
        )
        VALUES (
            #{id}, #{employeeId}, #{departmentId}, #{isPrimary}
        )
    </insert>

</mapper>